<html style="background: radial-gradient(circle at 25% 25%,transparent 14%,#000000 15%, #000000 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, transparent 11%, #000000 12%, #000000 17%, transparent 18%);
        background-size: 1em 1em;
        background-color: #111111;
        opacity: 1">
<%= stylesheet_link_tag "home", :media => "all" %>

<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>

<div class="navbar-menu" id="navMenu">
  <!-- navbar-start, navbar-end... -->
</div>


<br>

 <div class="container">
<section class="hero is-dark">
  <div class="hero-body">
    <p class="title">
      Sports online, escolha o seu canal 
    </p>
  <%= form_with model: @link do |f| %>
 <%= f.text_field :url , class: "input is-link" , style: "width:30%;" %>
 <%= f.number_field :user_id, id: :link_user_id, value: current_user.id,type: :hidden %>
  <%= f.submit "submeter" , class: "button is-link"   %>
<% end %>

  </div>
</section>


<!--- i frame container --->

<body >
<div class="columns">
  <div class="column">
   <div class="card" >
  <div class="card-content">
    <div class="content ">
   <figure class="image is-16by9 ">
  <iframe class="has-ratio" width="640" height="360" src="<%= @firstlink.url %>" frameborder="0" allowfullscreen>
    
  </iframe>
</figure>
    </div>
  </div>
</div>
  </div>

</div>
</body>
</div>

</html>