<%= stylesheet_link_tag "home", :media => "all" %>
 <div class="container">
<section class="hero is-dark">
  <div class="hero-body">
    <p class="title">
      Sports online, escolha o seu canal 
    </p>
  <%= form_with model: @link do |f| %>
 <%= f.text_field :url , class: "input is-link" , style: "width:30%;" %>
  <%= f.submit "submeter" , class: "button is-link"   %>
<% end %>

  </div>
</section>


<!--- i frame container --->

<body style="background-color: hsl(0, 0%, 4%);">
<div class="columns">
  <div class="column">
   <div class="card">
  <div class="card-content">
    <div class="content">
   <figure class="image is-16by9">
  <iframe class="has-ratio" width="640" height="360" src="<%= @firstlink.url %>" frameborder="0" allowfullscreen>
    
  </iframe>
</figure>
    </div>
  </div>
</div>
  </div>

</div>
</body>
</div>