<html >
<head>
<%= stylesheet_link_tag "home", :media => "all" %>
<%= javascript_include_tag "home"%>
<nav class="navbar is-dark is-small" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://wa.me/945327137">
      <%= image_tag "logo", style:"box-shadow: 1px 1px;"%>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
         <a class="navbar-item">
    Canais
          </a>
          <div class="navbar-item has-dropdown is-hoverable ">
            <a class="navbar-link">
          Sport Tv
        </a>
        <div class="navbar-dropdown">

      <a class="navbar-item">

        <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/pt/sporttv1.php
', readonly: true, hidden: true %>
  <%= f.submit "Sport tv 1" , class: "button is-white is-light"   %>
  <% end %>
      </a>

      <a class="navbar-item">
             <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/pt/sporttv2.php', readonly: true, hidden: true %>
  <%= f.submit "Sport tv 2" , class: "button is-white is-light"   %>
  <% end %>
      </a>
    </div>
  </div>
  
            <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
          Eleven
        </a>
        <div class="navbar-dropdown">

         <a class="navbar-item">
             <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/pt/eleven1.php', readonly: true, hidden: true %>
  <%= f.submit "Eleven 1" , class: "button is-white is-light"   %>
  <% end %>
      </a>

          <a class="navbar-item">
             <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/pt/eleven2.php
', readonly: true, hidden: true %>
  <%= f.submit "Eleven 2" , class: "button is-white is-light"   %>
  <% end %>
      </a>
</div>
 </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          SportHD 2 a 9
        </a>

        <div class="navbar-dropdown">
             <a class="navbar-item">
             <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd2.php
', readonly: true, hidden: true %>
  <%= f.submit "SportHD 2" , class: "button is-white is-light"   %>
  <% end %>
      </a>

          <a class="navbar-item">
          <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd3.php
', readonly: true, hidden: true %>
  <%= f.submit "SportHD 3" , class: "button is-white is-light"   %>
  <% end %>
          </a>
          <a class="navbar-item">
           <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd4.php
', readonly: true, hidden: true %>
  <%= f.submit "SportHD 4" , class: "button is-white is-light"   %>
  <% end %>
          </a>
                   <a class="navbar-item">
           <%= form_with model: @link do |f| %>
 <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd5.php
', readonly: true, hidden: true %>
  <%= f.submit "SportHD 5" , class: "button is-white is-light"   %>
  <% end %>
          </a>
            <a class="navbar-item">
           <%= form_with model: @link do |f| %>
          <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd6.php', readonly: true, hidden: true %>
           <%= f.submit "SportHD 6" , class: "button is-white is-light"   %>
        <% end %>
          </a>
              <a class="navbar-item">
           <%= form_with model: @link do |f| %>
          <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd7.php', readonly: true, hidden: true %>
           <%= f.submit "SportHD 7" , class: "button is-white is-light"   %>
        <% end %>
          </a>
               <a class="navbar-item">
           <%= form_with model: @link do |f| %>
          <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd8.php', readonly: true, hidden: true %>
           <%= f.submit "SportHD 8" , class: "button is-white is-light"   %>
        <% end %>
          </a>
                  <a class="navbar-item">
           <%= form_with model: @link do |f| %>
          <%= f.text_field :url ,  :value => 'https://v3.sportsonline.to/channels/hd/hd9.php', readonly: true, hidden: true %>
           <%= f.submit "SportHD 9" , class: "button is-white is-light"   %>
        <% end %>
          </a>
          <hr class="navbar-divider">
        
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
    <%=  link_to "Terminar a sessão", destroy_user_session_path , method: :delete , class:"button is-danger  is-outlined"%>

      </div>
    </div>
  </div>
</nav>





<br>

 <div class="container">
<section class="hero is-dark">
  <div class="hero-body">
    <p class="title">
      Sports online, escolha o seu canal 
    </p>
  <%= form_with model: @link do |f| %>
 <%= f.text_field :url , class: "input is-link" , style: "width:30%;" %>
  <%= f.submit "submeter" , class: "button is-link"   %>
<% end %>

  </div>
</section>


<!--- i frame container --->

<body >
<div class="columns">
  <div class="column">
   <div class="card" >
  <div class="card-content">
    <div class="content ">
   <figure class="image is-16by9 ">
  <iframe class="has-ratio" width="640" height="360" src="<%= @firstlink.url %>" frameborder="0" allowfullscreen>
    
  </iframe>
</figure>
    </div>
  </div>
</div>
  </div>

</div>
</body>
</div>

<footer>
<div class="container">
  <h5> Hi <%= @current_user.email %> </h5>
  <h4> Users </h4>
    <%= render @users %>
  <h4> Rooms </h4>
  <%= render @rooms %>
</div>
</footer>
</html>

