<!DOCTYPE html>
<html style="background: radial-gradient(circle at 25% 25%,transparent 14%,#000000 15%, #000000 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, transparent 11%, #000000 12%, #000000 17%, transparent 18%);
        background-size: 1em 1em;
        background-color: #111111;
        opacity: 1">

  <style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #3CB371 !important;
  padding: 0px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
  }
  </style>

  <head>
    <title>Sportsonline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= stylesheet_link_tag "home", :media => "all" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body >

     <p class="notice"><% notice %></p>
       <p class="alert"><% alert %></p>

    <%= yield %>
  </body>
</html>
